root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown files
[*.md]
charset = utf-8
max_line_length = off
trim_trailing_whitespace = false

# C# files
[*.{cs,csproj,sln}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4

# AXAML/XAML files (Avalonia UI)
[*.{axaml,xaml}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4

# JSON and configuration files
[*.{json,xml}]
charset = utf-8
indent_style = space
indent_size = 2

# YAML files (GitHub workflows, etc.)
[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

# Shell scripts (Unix line endings)
[*.sh]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

# Windows scripts (Windows line endings)
[*.{cmd,bat}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2

# SQL files
[*.sql]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2